@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.menuMobileContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  background-color: #ffffff;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}

.menuMobileContainer.menuOpen {
  width: 88%;
}

.logoMenuMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.closeButton {
  background-color: #EEEEEE;
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerMenuMobile {
  position: relative;
  height: 120px;
  width: 100%;
  overflow: hidden;
}
.bannerMenuMobile .imagemBannerMenu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: bottom;
  object-fit: cover;
  z-index: 1;
}
.bannerMenuMobile .contentBannerMenu {
  position: relative;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding: 20px;
}
.bannerMenuMobile .contentBannerMenu p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.bannerMenuMobile .contentBannerMenu a {
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
}

.categoriesMenu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
}

.categoryItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.categoryItem .categoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.categoryItem .categoryHeader .categoryLink {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #1D1D1B;
  text-decoration: none;
}
.categoryItem .toggleButton {
  background: transparent;
  border: none;
  padding: 0;
  transition: transform 0.2s ease-in-out;
}
.categoryItem .toggleButton.open {
  transform: rotate(90deg);
}
.categoryItem .subCategoriesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 12px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.categoryItem .subCategoriesContainer.open {
  max-height: 200px;
}
.categoryItem .subCategoriesContainer.open .subCategoryLink:first-child {
  margin-top: 12px;
}
.categoryItem .subCategoriesContainer .subCategoryLink {
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #1D1D1B;
  text-decoration: none;
}
