@use '../../../../styles/sass/padroes/fonts.scss' as vars;

.menuMobileContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background-color: #ffffff;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    z-index: 99999999;
}

.menuMobileContainer.menuOpen {
    width: 331px;
}


.logoMenuMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.closeButton {
    background-color: #EEEEEE;
    border: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerMenuMobile {
    height: 120px;
    width: 100%;
    background-image: url('../../../../assets/images/bannerPrincipal1.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    .contentBannerMenu {
        font-family: vars.$fontFamilyOpen;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: end;
        height: 100%;
        padding: 20px;

        p {
            margin: 0;
            font-size: 14px;
            font-weight: 600;
        }

        a {
            font-size: 12px;
            font-weight: 300;
            text-decoration: underline;
        }
    }

}

.categoriesMenu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 16px;
}


.categoryItem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;


    .categoryHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        width: 100%;

        .categoryLink {
            font-size: 14px;
            font-weight: 400;
            font-family: vars.$fontFamilyOpen;
            color: #1D1D1B;
            text-decoration: none;
        }

    }

    .toggleButton {
        background: transparent;
        border: none;
        padding: 0;
        transition: transform .2s ease-in-out;

        &.open {
            transform: rotate(90deg);

        }

    }

    .subCategoriesContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-left: 12px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;

        &.open {
            max-height: 200px;
            
        }

        .subCategoryLink {
            font-size: 14px;
            font-weight: 300;
            font-family: vars.$fontFamilyOpen;
            color: #1D1D1B;
            text-decoration: none;
        }


    }

}