@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.paragraph--footer-titulo-coluna {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.paragraph--titulo-categorias,
.paragraph--titulo-prateleira,
.paragraph--titulo-conhecaMais {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.paragraph--nome-categoria {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #1D1D1D;
  font-weight: 300;
  margin: 0;
}

.paragraph--subtitulo-conhecaMais {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  color: #8A8A8A;
  font-size: 12px;
}

.paragraph--banner-inst-title {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1D1D1D;
  margin: 0;
}

.paragraph--banner-inst-text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #8A8A8A;
  margin: 0;
}
