@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.menuContainer--lista-links-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.styledLinkContent--item-link-footer {
  color: #fff;
  font-weight: 400;
  text-decoration: underline;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
