.headerRowContainer--header-search-row-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem .75rem .875rem;
    position: fixed;
    background-color: #fff;
    z-index: 999999999 !important;
}