@use '../sass/padroes/fonts.scss' as vars;

.paragraph--footer-titulo-coluna {
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    font-family: vars.$fontFamilyOpen;
}

.paragraph--titulo-categorias,
.paragraph--titulo-prateleira,
.paragraph--titulo-conhecaMais {
    font-family: vars.$fontFamilyOpen;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.paragraph--nome-categoria {
    font-family: vars.$fontFamilyOpen;
    font-size: 14px;
    color: #1D1D1D;
    font-weight: 300;
    margin: 0;
}

.paragraph--subtitulo-conhecaMais{
    font-family: vars.$fontFamilyOpen;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    color: #8A8A8A;
    font-size: 12px;
}

.paragraph--banner-inst-title{
    font-family: vars.$fontFamilyOpen;
    font-size: 16px;
    font-weight: 400;
    color: #1D1D1D;
    margin: 0;
}

.paragraph--banner-inst-text{
    font-family: vars.$fontFamilyOpen;
    font-size: 12px;
    font-weight: 300;
    color: #8A8A8A;
    
    margin: 0;
}