.flexRow--main-header-mobile {
    width: 100%;
}

.flexRowContent--main-header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    height: 55px;
    background-color: #fff;
}

.flexRowContent--header-mobile-left,
.flexRowContent--header-mobile-right {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.flexRowContent--header-mobile-right {
    padding: 0;
}

.flexRow--flexCol--main-footer-mobile {
    background-color: #B11B26;
    padding: 20px 0 64px 0;

    height: auto;
    margin: 0;
}

.flexCol--main-footer-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;


}

.flexRowContent--footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.flexRowContent--icones-redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.flexCol--footer-coluna-links {
    display: flex;
    align-items: center;
    gap: 16px;

    .flexColChild--footer-coluna-links {
        padding: 0;
    }
}

.flexRow-items-stretch {
    border-radius: 1000px;
}

.flexCol--banner-button-container {
    height: 100%;
    padding-bottom: 2rem;

}

.flexColChild--banner-button-container {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 12px 24px;
    margin-left: 10px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.flexCol--container-categorias {
    padding: 32px 16px 48px 16px;
    display: flex;
    gap: 16px;
}

.flexCol--container-bannersNav {
    display: flex;
    gap: 6px;

    .flexColChild--container-bannersNav {
        line-height: 0;
    }
}

.flexCol--container-prateleira,
.flexCol--container-conhecaMais {
    padding: 32px 16px 48px 16px;
    width: 100%;
}

.flexCol--container-titSubt-conhecaMais {
    display: flex;
    gap: 4px;
}

.flexCol--container-conhecaMais {
    display: flex;
    gap: 24px;
    flex-direction: column;
    background-color: #F7F7F7;
}

.flexCol--banner-inst-content {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.flexCol--container-banner-inst {
    display: flex;
    gap: 10px;


    .flexColChild--container-banner-inst {
        line-height: 0;
        padding-bottom: 5px;
    }

    .flexColChild--banner-inst-content {
        display: flex;

    }
}

.flexColChild--container-conhecaMais {
    width: 100%;
}


.flexRow--btn-sacola,
.flexRow--btn-wishList{
    :global(.vtex-button) {
        border: none;
        background-color: #ffffff00;
        
        width: auto;
        height: auto;
        

        :global(.vtex-button__label) {
            padding: 6px !important;
        }
    }

   
}

.flexRowContent--container-btns-produtos{
    display: flex;
    flex-direction: column;
    gap: 130px;
}

