.botaoProjetosPdpstyles{
    background-color: #3BAA34;
    border: none;
    border-radius: 4px;
    padding: 10px 50px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    height: auto;
    min-height: 58px;
    width: auto;
}