.botaoProjetosPdpstyles {
    background-color: #3BAA34;
    border: none;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    height: auto;
    min-height: 58px;
    width: auto;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .linkBotaoProjetosPdp {
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        color: #fff;

    }
}